@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        columna 1
    </div>
    <div class="col">
        columna 2
    </div>
    <div class="col">
        columna 3
    </div>
    <div class="col">
        columna 4
    </div>
    <div class="col">
        columna 5
    </div>
    <div class="col">
        columna 6
    </div>
    <div class="col">
        columna 7
    </div>
    <div class="col">
        columna 8
    </div>
    <div class="col">
        columna 9
    </div>
    <div class="col">
        columna 10
    </div>
    <div class="col">
        columna 11
    </div>
    <div class="col">
        columna 12
    </div>
</div>

<br/>

<div class="">
    <div class="row justify-content-start">
        <div class="col-4">
            Inicio
        </div>
        <div class="col-4">
            Start
        </div>
    </div>
    <br/>
    <div class="row justify-content-center">
        <div class="col-4">
            Centro
        </div>
        <div class="col-4">
            Center
        </div>
    </div>
    <br/>
    <div class="row justify-content-end">
        <div class="col-4">
            Final
        </div>
        <div class="col-4">
            end
        </div>
    </div>
    <br/>
    <div class="row justify-content-around">
        <div class="col-4">
            alrededor
        </div>
        <div class="col-4">
            alrededor
        </div>
    </div>
    <br/>
    <div class="row justify-content-between">
        <div class="col-4">
            entre
        </div>
        <div class="col-4">
            between
        </div>
    </div>
    <br/>
    <div class="row justify-content-evenly">
        <div class="col-4">
            igualmente(simetrico)
        </div>
        <div class="col-4">
            evenly
        </div>
    </div>
    <br/>
</div>

