@{
    ViewData["Title"] = "Home Page";
}

<h1>
Ejemplo 1 alineando la fila
</h1>
<div class="row align-items-start">
    <div class="col">
    columna1
    </div>
    <div class="col">
    columna2
    </div>
    <div class="col">
    columna3
    </div>  
</div>

<div class="row align-items-center">
    <div class="col">
        columna1
    </div>
    <div class="col">
    columna2
</div>
    <div class="col">
    columna3
    </div>
</div>

<div class="row align-items-end">
    <div class="col">
        columna1
    </div>
    <div class="col">
    columna2
</div>
    <div class="col">
    columna3
    </div>
</div>

<h1>
Ejemplo 2 alieando las columnas horizontalmente
</h1>
<div class="row">
    <div class="col align-self-start">
        columna 1
    </div>
    <div class="col align-self-center">
            columna 2
    </div>
    <div class="col align-self-end">
        columna 3
    </div>
    </div>

<h1>
    Ejemplo 3 offset
</h1>
<div class="row">
    <div class="col-4">
        columna 1
    </div>
    <div class="col-4 offset-4">
        columna 2
     </div>
</div>

<h1>
    Ejemplo 4 Auto margen 
</h1>

<div class="row">
    <div class="col-3"columna 1>
    </div>
    <div class="col-4 ms-auto" columna 2>
    </div>

</div>