@{
    ViewData["Title"] = "Home Page";
}

<div class="accordion" id="ejemploAcordeon">
    <div class="accordion-item">
          <h2 class="accordion-header">
             <button class="accordion-button">Elemento 1</button>
          </h2>
          <div class="accordion-collapse collapse-show" data-bs-parent="#ejemploAcordeon">
               <div class="accordion-body">
                   Este es el contenido del primer elemento.
               </div>
          </div>
    </div>
</div>